@import "../../../styles/variables.scss";
@import "../../../styles/mixin.scss";

.wisudawanCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-evenly;

  background-image: url("../../../images/bg/card-bg.jpg");
  background-size: cover;
  box-shadow: $shadow-blur;
  transition: $default-transition,
    box-shadow $transition-tween $transition-duration;

  margin: 1vw;
  padding: 3vw 3vw;
  @include setup_size(24vw, 36vw);
  border-radius: $border-radius;

  &:hover {
    transform: translateY(-2%);
    box-shadow: $shadow-light;
    cursor: pointer;
  }

  .images {
    @include setup_size(15vw, 15vw);
    position: relative;
    .mainImage {
      @include setup_size(100%, 100%);
      object-fit: cover;
      border-radius: 50%;
    }

    .cardBackground {
      width: 20vw;
      // padding: 2vw;
      position: absolute;
      bottom: -2vw;
      left: -1.75vw;
      z-index: 2;
    }
  }

  h4 {
    &:first-of-type {
      color: $yellow;
      transform: scale(1.1);
    }
    font-size: 1.4vw;
  }

  p {
    // @include setup_size(100%, 15%);
    // @include setup_size(20vw, 2vw)
    width: 22vw;
    text-align: center;
    font-size: 1.2vw;
    padding: 0 2vw;
    margin-top: 1.5vw;
  }
}

.wisudawanCard:hover {
  background-color: #3999c985;
}

.wisudawan-card-tooltip {
  @include setup_size(70%, fit-content);
  position: absolute;
  font-size: 12px;
  padding: 7px;
  text-align: left;
  background: $darkBlueTransparent2;
  border-radius: 7.5px;
  bottom: 2%;
  right: -5%;
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: $breakpoint) {
  .wisudawanCard {
    margin: 1.6vw;
    @include setup_size(40vw, 65vw);

    .images {
      @include setup_size(25vw, 25vw);
      position: relative;

      .cardBackground {
        width: 32vw;
        position: absolute;
        bottom: -2vw;
        left: -1.75vw;
        z-index: 2;
      }
    }

    h4 {
      font-size: 3vw;
    }

    p {
      font-size: 2.5vw;
      width: 35vw;
    }
  }

  .wisudawan-card-tooltip {
    @include setup_size(100%, fit-content);
    position: absolute;
    font-size: 8px;
    padding: 7px;
    bottom: -2%;
    left: 7%;
    backdrop-filter: blur(10px);
  }
}
