@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.games {
  &-container {
    position: relative;
    z-index: 1;
    h1 {
      padding-top: $page-padding-top;
      text-align: center;
    }
  }
  &-switch {
    @include flex_center(row);
    margin: 10px 0 15px;
    & > * {
      margin: 5px;
    }
  }
}
