@import "../../../styles/mixin.scss";
@import "../../../styles/variables.scss";

.gather-town {
  margin-top: 5vh;
  h3 {
    text-align: center;
  }
  p {
    margin-top: 1.5vh;
    text-indent: 2.5rem;
    text-align: justify;
  }
}

.gather-town-links {
  margin-top: 3vh;
  tbody {
    tr {
      td {
        color: $yellow;
        background-color: $darkBlueTransparent2;
        padding: 0.25rem 0.7rem;
        margin: 0 2px;
        position: relative;
        &:first-of-type {
          width: 30%;
          &::after {
            content: "";
            @include setup_size(1px, 100%);
            background-color: $darkBlue;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .gather-town {
    p {
      margin: 1.5vh 5vw 0;
    }
  }
}
