@import "../../../styles/mixin.scss";
@import "../../../styles/variables.scss";

.picrew-content{
  @include setup_size(100%,100%);
  position: relative;
  img{
    @include setup_size(100%,100%);
    top : 0;
    left : 0;
    position: absolute;
  }
  .level-1{z-index: 1;}
  .level-2{z-index: 2;}
  .level-3{z-index: 3;}
  .level-4{z-index: 4;}
  .level-5{z-index: 5;}
  .level-6{z-index: 6;}
  .level-7{z-index: 7;}
  .level-8{z-index: 8;}
  .level-9{z-index: 9;}
  .level-10{z-index: 10;}
  .level-11{z-index: 11;}
  .level-12{z-index: 12;}
  .level-13{z-index: 13;}
  .level-14{z-index: 14;}
  .level-15{z-index: 15;}
  .level-16{z-index: 16;}
}