@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";
@import "./fireflies.scss";

.template {
  @include setup_size(100%, 100%);
  position: relative;
  min-height: 100vh;
  background: $black;
  overflow: hidden;
  &-header {
    margin: $navbar-height 0 220px;
  }
  &-content {
    margin: $navbar-height auto 220px;
    width: 60vw;
    position: relative;
    z-index: 2;

    &::before {
      content: "";
      @include setup_size(100%, 100%);
      background: linear-gradient(
        90deg,
        rgba(45, 44, 52, 0) 0%,
        rgb(45, 44, 52) 30%,
        rgba(45, 44, 52, 1) 70%,
        rgba(45, 44, 52, 0) 100%
      );
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
      pointer-events: none;
    }
  }
  .hidden {
    display: none;
  }
  .background,
  .left-ornament,
  .right-ornament {
    position: absolute;
  }
  .background {
    width: 100%;
    z-index: 0;
  }
  .ornament {
    opacity: 0.75;
  }
  .layer-1,
  .layer-2,
  .layer-3,
  .layer-4 {
    position: absolute;
  }

  .layer-2 {
    bottom: 0;
  }

  .layer-3 {
    top: 50%;
    transform: translateY(-50%);
  }
}

.template-content {
  position: relative !important;
}

.firefly-wrap {
  @include setup_size(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media only screen and (max-width: $breakpoint-tab) {
  .template {
    &-content {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .template {
    &-header {
      margin-bottom: 275px;
    }
    &-content {
      width: 90vw;
      margin-bottom: 45vh;
      &::before {
        background: linear-gradient(
          90deg,
          rgba(45, 44, 52, 0) 0%,
          rgb(45, 44, 52) 20%,
          rgba(45, 44, 52, 1) 80%,
          rgba(45, 44, 52, 0) 100%
        );
      }
    }
    .layer-1,
    .layer-4 {
      top: 10%;
    }
    .layer-2 {
      bottom: 15%;
    }
  }
  .firefly {
    width: 0.6vh;
    height: 0.6vh;
    margin: -0.2vh 0 0 9.8vh;
  }
}
