@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.btn {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-content: center;
  img,h4{
    justify-self: flex-start;
  }
  svg{justify-self: flex-end;}
  padding: 0 10px;
  position: relative;
  z-index: 2;

  width: 60vw;
  height: fit-content;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  transition: all 0.6s ease;
  background-color: #2f3c4f;
  box-shadow: 1px 1px 5px rgba(27, 27, 27, 0.671);
}

.accordionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding-right: 10px;
  .btn{
    max-height: 10vh;
    img{
      max-height: 8vh;
    }
  }
}

.btn:hover {
  background-color: #566885;
  box-shadow: 1px 1px 10px rgba(27, 27, 27, 0.671);
}

.accordionContent {
  overflow: hidden;
  transition: all 0.5s ease;
  width: 95%;
  margin-top: 1vh;
  position: relative;
  z-index: 1;
}

.accordionText {
  padding: 20px;
}

.active {
  background-color: #566885 !important;
}

.triangle {
  margin-right: 1vw;
}

.accordionImage {
  height: 80%;
}

.accordionTitle {
  align-self: center;
  margin-right: 3vw;
  padding: 0.5rem 0;
}

@media only screen and (max-width: $breakpoint) {
  .btn {
    width: 80vw;
    border-radius: 12px;
    height: 8vh;
    padding: 0 5px;
    h4 {
      font-size: 16px;
      text-align: center;
    }
  }
  .accordionContent {
    width: 90%;
  }
}
