@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

$button-transition: background-color $transition-duration $transition-tween,
  $default-transition;

.button {
  background: rgb(59, 76, 102);
  box-shadow: 0px 6px 10px -8px $black-transparent;
  border-radius: clamp(23px, 2vw, 26px);
  min-width: 50px;
  border-width: 0px;
  padding: 0 20px;
  height: clamp(45px, 4vw, 51px);
  line-height: clamp(45px, 4vw, 51px);
  // vendor prop
  -webkit-transition: $button-transition;
  -ms-transition: $button-transition;
  transition: $button-transition;
  text-align: center;

  &-icon {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0;
  }

  &-active {
    background: $blue;
  }
  &:hover {
    background: $blue;
    transform: translateY(-5px);
    cursor: pointer;
  }
}

.span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.button {
  svg {
    transform: translateY(5%);
  }
  svg,
  path {
    fill: $white;
    height: 20px;
    width: 20px;
  }
}

@media only screen and (max-width: $breakpoint) {
  .button {
    svg {
      transform: translateY(15%);
    }
  }
}
