@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.list {
  position: relative;
  list-style: none;
  text-align: left;

  span {
    color: $yellow;
    font-style: italic;
    transition: $text-transition;
    &:hover {
      cursor: pointer;
      color: $lightGreen;
    }
  }
}

$bullet-size: 10px;

.bullet {
  width: $bullet-size;
  height: $bullet-size;
  -webkit-border-radius: $bullet-size;
  -moz-border-radius: $bullet-size;
  border-radius: $bullet-size;
  background-color: $yellow;
  position: absolute;
  top: 7px;
}

.listItem {
  &:first-child {
    &:before {
      // prevent line going above list
      top: 7.5px;
    }
  }

  &:last-child {
    &:before {
      // prevent line going below list
      height: 7.5px;
    }
  }

  &:before {
    //line
    content: "";
    position: absolute;
    left: 4.75px;
    border-left: 1.5px solid $yellow;
    height: 100%;
  }

  position: relative;
}

.listItemWrapper {
  position: relative;
  //space for bullet
  padding-left: 27.5px;
  padding-bottom: 25px;
}

.listItemPost {
  @include setup_size(100%,100%);
  position: relative;

  hr {
    border: none;
    border-top: 1px solid $blue;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.ListItemPostTopic {
  color: $yellow;
}

.listItemPostWrapper {
  position: relative;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
