// INIT
@import "./variables.scss";
@import "./mixin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $darkBlue; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue; /* color of the scroll thumb */
    border-radius: 0; /* roundness of the scroll thumb */
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $blue;
    }
  }
  &:focus {
    outline: none;
  }
}

html,
body {
  @include setup_size(100%, 100%);
  background: $black;
}

// IMPORT FONTS
@font-face {
  font-family: Bitter-Bold;
  src: url("./assets/Bitter-Bold.ttf");
}

@font-face {
  font-family: Bitter-Italic;
  src: url("./assets/Bitter-Italic.ttf");
}

@font-face {
  font-family: Bitter-Regular;
  src: url("./assets/Bitter-Regular.ttf");
}

@font-face {
  font-family: Westmeath-Italic;
  src: url("./assets/Westmeath-Italic.ttf");
}

@font-face {
  font-family: Westmeath;
  src: url("./assets/Westmeath.ttf");
}

// FONT SIZES

h1,
h2,
h3 {
  letter-spacing: 0.03em;
}

h1,
h2 {
  background: linear-gradient(180deg, #ffeeb4 0%, #ffdd63 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4,
h5,
h6,
p {
  color: $white;
}

h1 {
  font-size: clamp(40px, 5.5vw, 100px);
  font-family: $font1;
  transform: skewY(-2deg);
}
h2 {
  font-size: clamp(30px, 3vw, 54px);
  font-family: $font1;
}
h3 {
  font-size: clamp(24px, 2.5vw, 44px);
  font-family: $font1-italic;
  color: $lightGreen;
}
h4 {
  font-size: clamp(20px, 2.2vw, 36px);
  font-weight: 300;
  font-family: $font1;
}
h5 {
  font-size: clamp(16px, 1.4vw, 18px);
  font-weight: 300;
  font-family: $font1;
}
h6 {
  font-size: clamp(14px, 1.2vw, 14px);
  font-weight: 500;
  font-family: $font2;
  $translation: 0.1vh;
  -webkit-filter: drop-shadow($translation $translation $black-transparent);
  filter: drop-shadow($translation $translation $black-transparent);
}

*,
p,
a,
li {
  font-size: clamp(16px, 1.5vw, 18px);
  font-family: $font2;
  line-height: 1.5;
}

*,
p,
li {
  color: $white;
}

a {
  text-decoration: none;
  color: $yellow;
}

$headings: 5;
@for $i from 1 through $headings {
  h#{$i} {
    $translation: #{0.7 - 0.115 * $i}vh;
    -webkit-filter: drop-shadow($translation $translation $black);
    filter: drop-shadow($translation $translation $black);
  }
}

p,
a {
  $translation: 0.125vh;
  -webkit-filter: drop-shadow($translation $translation $black-transparent);
  filter: drop-shadow($translation $translation $black-transparent);
}
