$font1: Westmeath;
$font1-italic: Westmeath-Italic;
$font2: Bitter-Regular;
$font2-italic: Bitter-Italic;
$font2-bold: Bitter-Bold;

$shadow-large: 10px 2px 0 rgba(43, 34, 35, 1);
$shadow: 4px 2px 0 rgba(43, 34, 35, 1);
$shadow-blur: 0px 2px 17px rgba(0, 0, 0, 0.2);
$shadow-blur-inner: inset $shadow-blur;

$black: rgb(43, 34, 35);
$black-transparent: rgba(43, 34, 35, 0.4);
$white: rgb(253, 253, 223);
$lightGreen: rgb(196, 220, 201);
$darkBlue: rgb(47, 60, 79);
$darkBlueTransparent: rgba(47, 60, 79, 0.9);
$yellow: rgb(255, 232, 151);
$blue: rgb(75, 133, 171);
$blueTransparent: rgba(75, 133, 171, 0.5);

$border-radius: clamp(12px, 1vw, 25px);
$breakpoint: 700px; // ubah di navbar juga
$navbar-height: 70px;
$transition-duration: 250ms;

$transition-tween: ease-in-out;
$default-transition: opacity $transition-duration $transition-tween,
  transform $transition-duration $transition-tween;
$text-transition: color $transition-duration $transition-tween;
$bg-transition: background $transition-duration $transition-tween;
