.navlink-dropdown {
  $triangle-height: 15px;
  .navlink-dropdown-close {
    @include setup_size(200vw, 120vh);
    position: fixed;
    left: -100vw;
    top: -20vh;
    z-index: -100;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    -webkit-filter: drop-shadow($shadow-blur);
    filter: drop-shadow($shadow-blur);
    top: -1 * $triangle-height;
    border-left: ($triangle-height / 1.5) solid transparent;
    border-right: ($triangle-height / 1.5) solid transparent;
    border-bottom: $triangle-height solid $darkBlueTransparent;
  }
  position: absolute;
  z-index: 91;
  top: calc(100% + 20px);
  right: 0;
  backdrop-filter: blur(2px);
  background-color: $darkBlueTransparent;
  border-radius: $border-radius;
  padding: $border-radius 0;
  // box-shadow: $shadow-blur;
  // filter: drop-shadow($shadow-blur);
  &-container {
    position: relative;
  }
  &-link {
    display: block;
    padding: 5px 25px 5px 20px;
    transition: $bg-transition;
    h5 {
      transition: $text-transition;
    }
    &-active,
    &-open {
      background: $blueTransparent;
      h5 {
        color: $yellow;
      }
    }
    &:hover {
      background: $blue;
      h5 {
        color: $yellow;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .navlink-dropdown {
    position: static;
    background-color: $black-transparent;
    border-radius: 0;
    box-shadow: $shadow-blur-inner;
    padding: 0;
    &::before {
      display: none;
    }
    &-close {
      display: none;
    }
    &-link {
      transition: $default-transition, $bg-transition;
      opacity: 1;
      &:first-of-type {
        padding-top: 8px;
      }
      h5 {
        color: $lightGreen;
      }
      &-active,
      &-open {
        h5 {
          color: $yellow;
        }
      }
      &-closed {
        opacity: 0;
      }
    }
    &-mobile {
      transition: height $transition-duration $transition-tween;
      overflow-y: hidden;
    }
  }
}
