.organisasiCard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;

    background-image: url('./img/org-card.svg');
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
    transition: all ease 0.4s;
    
    margin: 1vw;
    width: 17vw;
    height: 23vw;
    padding: 10vw 2vw;
    border-radius: 18px;

    img.ornamentCard{
        position: absolute;
        top:-10%;
        right: -10%;
        width: 8vw;
    }

    .mainImage{
        width: 15vw;
        padding: 1vw;
    }

    h4{
        font-size: 1.5vw;
    }

}

.organisasiCard:hover{
    background-color: #3999c985;
}




@media only screen and (max-width:600px){
    .organisasiCard{
        // margin: 2vw 30px;
        margin: 1.6vw;
        width: 40vw;
        height: 52vw;
        padding: 1vw 2vw;

        img.ornamentCard{
            position: absolute;
            top:-10%;
            right: -10%;
            width: 20vw;
        }

        .mainImage{
            width: 30vw;
            padding: 1vw;
        }

        h4{
            font-size: 3vw;
        }
}

}