@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.galeri-wisudawan-container {
  @include flex_center(column);
  padding: 5vh 0;
  text-align: center;
  .organization-detail {
    @include flex_center(column);
    .desc {
      padding: 0 20%;
    }
  }
  .image {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
    margin: 2vh 0;
  }
  h3 {
    margin: 5vh 0 2vh;
  }
}

@media only screen and (max-width: $breakpoint) {
  .galeri-wisudawan-container {
    padding: 5vh 0 0;
    .image {
      width: 20vh;
      height: 20vh;
      margin: 2vh 0;
    }
  }
}
