@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
@import "./NavbarLinks.scss";
@import "./NavbarDropdown.scss";

.navbar {
  @include setup_size(100vw, $navbar-height);
  @include flex_center(row);
  justify-content: space-between;
  padding: 0 2.5%;
  position: fixed;
  z-index: 89;
  background-color: $darkBlueTransparent;
  backdrop-filter: blur(2px);
  box-shadow: $shadow-blur;
  &-logo,
  &-links {
    height: 100%;
    @include flex_center(row);
  }
  &-logo {
    img {
      height: 60%;
      margin-right: 7px;
    }
  }
  &-button {
    display: none;
  }
}
